/*************************************************************************************************************** Dear Dev Pros, Only add non-renderable SASS in this file (no CSS selectors), otherwise any CSS will be rendered into any file that includes this one (spoiler alert: most files include this file) */
/*************************************************************************************************************** Dear Dev Pros, Only add non-renderable SASS in this file (no CSS selectors), otherwise any CSS will be rendered into any file that includes this one (spoiler alert: most files include this file) */
.color-black { color: #191919 !important; }

.color-black-hover:hover { color: #191919 !important; }

.border-color-black { border-color: #191919 !important; }

.background-black { background: #191919 !important; }

.background-black-10 { background: rgba(25, 25, 25, 0.1) !important; }

.background-black-hover:hover { background: #191919 !important; }

.color-dark { color: #191919 !important; }

.color-dark-hover:hover { color: #191919 !important; }

.border-color-dark { border-color: #191919 !important; }

.background-dark { background: #191919 !important; }

.background-dark-10 { background: rgba(25, 25, 25, 0.1) !important; }

.background-dark-hover:hover { background: #191919 !important; }

.color-dark-grey { color: #333 !important; }

.color-dark-grey-hover:hover { color: #333 !important; }

.border-color-dark-grey { border-color: #333 !important; }

.background-dark-grey { background: #333 !important; }

.background-dark-grey-10 { background: rgba(51, 51, 51, 0.1) !important; }

.background-dark-grey-hover:hover { background: #333 !important; }

.color-light { color: #fff !important; }

.color-light-hover:hover { color: #fff !important; }

.border-color-light { border-color: #fff !important; }

.background-light { background: #fff !important; }

.background-light-10 { background: rgba(255, 255, 255, 0.1) !important; }

.background-light-hover:hover { background: #fff !important; }

.color-lightblue { color: #f2fafd !important; }

.color-lightblue-hover:hover { color: #f2fafd !important; }

.border-color-lightblue { border-color: #f2fafd !important; }

.background-lightblue { background: #f2fafd !important; }

.background-lightblue-10 { background: rgba(242, 250, 253, 0.1) !important; }

.background-lightblue-hover:hover { background: #f2fafd !important; }

.color-white { color: #fff !important; }

.color-white-hover:hover { color: #fff !important; }

.border-color-white { border-color: #fff !important; }

.background-white { background: #fff !important; }

.background-white-10 { background: rgba(255, 255, 255, 0.1) !important; }

.background-white-hover:hover { background: #fff !important; }

body { font-family: 'Roboto', 'Source Sans Pro', Arial, sans-serif; }

blockquote { border-left-color: #039fe2; }

h1 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 61px; line-height: 1.28; }

h2 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 49px; line-height: 1.06; }

h3 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 39px; line-height: 1.33; }

h4 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 31px; line-height: 1.16; }

h5 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 25px; line-height: 1.04; }

h6 { font-family: 'Oxygen', Arial, sans-serif; font-weight: 300; color: #fff; font-size: 20px; line-height: 1.3; }

a { text-decoration: none; }

a:not(.btn) { color: #00bdf2; }

a:not(.btn):link { color: #00bdf2; }

a:not(.btn):visited { color: #00bdf2; }

a:not(.btn):focus { color: #00bdf2; }

a:not(.btn):hover { color: #00bdf2; }

a:not(.btn):active { color: #00bdf2; }

/*************************************************************************************************************** Dear Dev Pros, Only add non-renderable SASS in this file (no CSS selectors), otherwise any CSS will be rendered into any file that includes this one (spoiler alert: most files include this file) */
.color-black { color: #191919 !important; }

.color-black-hover:hover { color: #191919 !important; }

.border-color-black { border-color: #191919 !important; }

.background-black { background: #191919 !important; }

.background-black-10 { background: rgba(25, 25, 25, 0.1) !important; }

.background-black-hover:hover { background: #191919 !important; }

.color-dark { color: #191919 !important; }

.color-dark-hover:hover { color: #191919 !important; }

.border-color-dark { border-color: #191919 !important; }

.background-dark { background: #191919 !important; }

.background-dark-10 { background: rgba(25, 25, 25, 0.1) !important; }

.background-dark-hover:hover { background: #191919 !important; }

.color-dark-grey { color: #333 !important; }

.color-dark-grey-hover:hover { color: #333 !important; }

.border-color-dark-grey { border-color: #333 !important; }

.background-dark-grey { background: #333 !important; }

.background-dark-grey-10 { background: rgba(51, 51, 51, 0.1) !important; }

.background-dark-grey-hover:hover { background: #333 !important; }

.color-light { color: #fff !important; }

.color-light-hover:hover { color: #fff !important; }

.border-color-light { border-color: #fff !important; }

.background-light { background: #fff !important; }

.background-light-10 { background: rgba(255, 255, 255, 0.1) !important; }

.background-light-hover:hover { background: #fff !important; }

.color-lightblue { color: #f2fafd !important; }

.color-lightblue-hover:hover { color: #f2fafd !important; }

.border-color-lightblue { border-color: #f2fafd !important; }

.background-lightblue { background: #f2fafd !important; }

.background-lightblue-10 { background: rgba(242, 250, 253, 0.1) !important; }

.background-lightblue-hover:hover { background: #f2fafd !important; }

.color-white { color: #fff !important; }

.color-white-hover:hover { color: #fff !important; }

.border-color-white { border-color: #fff !important; }

.background-white { background: #fff !important; }

.background-white-10 { background: rgba(255, 255, 255, 0.1) !important; }

.background-white-hover:hover { background: #fff !important; }

.jslink { cursor: pointer; }

/*************************************************************************************************************** Dear Dev Pros, Only add non-renderable SASS in this file (no CSS selectors), otherwise any CSS will be rendered into any file that includes this one (spoiler alert: most files include this file) */
/* bootstrap reset */
/* local customisations */
/* home page */
/* calendar widget */
/* user forms */
/* 77 days of prayer */
@media (max-width: 767px) { .navbar-collapse { min-width: 230px; max-height: none; }
  .strap { height: auto; }
  .weeks { padding-top: 80px; font-size: 140%; } }

html { background: #333; color: #eee; font-size: 16px; }

body { background: #333; color: #eee; font-size: 16px; }

.fauxbody { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; position: relative; padding: 0; -webkit-box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.7), -20px 0 20px -20px rgba(0, 0, 0, 0.7); box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.7), -20px 0 20px -20px rgba(0, 0, 0, 0.7); z-index: 100; }

@media (min-width: 576px) { .fauxbody { max-width: 540px; } }

@media (min-width: 768px) { .fauxbody { max-width: 720px; } }

@media (min-width: 992px) { .fauxbody { max-width: 960px; } }

@media (min-width: 1200px) { .fauxbody { max-width: 1140px; } }

.bgStretcher { position: absolute; top: 0; left: 0; width: 100%; height: 378px; background: #ff8000 url("../imgs/headerbg.gif") top left repeat-x; z-index: 0; }

.orange .bgStretcher { background-color: #ff8000; }

.orange .strap { background: #ff8000; }

.green .bgStretcher { background-color: #bfd62f; }

.green .strap { background: #bfd62f; }

.blue .bgStretcher { background-color: #000765; }

.blue .strap { background: #000765; }

.lightblue .bgStretcher { background-color: #00bdf2; }

.lightblue .strap { background: #00bdf2; }

.red .bgStretcher { background-color: #7b0707; }

.red .strap { background: #7b0707; }

.search { position: absolute; top: 15px; right: 15px; }

.search label { display: none; }

a { color: #00bdf2; }

a:hover { color: #08c; }

a:focus { color: #08c; }

.navbar .active a { color: #fff; }

.navbar .active a:link { color: #fff; }

.navbar .active a:visited { color: #fff; }

.navbar .active a:focus { color: #fff; }

.navbar .active a:hover { color: #fff; }

.navbar .active a:active { color: #fff; }

.list-group-item.active a { color: #fff; }

.list-group-item.active a:hover { background: transparent; }

@media (max-width: 1199.98px) { .navbar-collapse { margin-right: -16px; margin-left: -16px; z-index: 1000; } }

#SearchForm_SearchForm_Search { width: 120px; }

ul.nav { background: #fff; }

.strap { height: 250px; padding: 15px; background-repeat: no-repeat; background-position: top right; overflow: hidden; }

.strap .strapfiller { height: 100%; }

.bg-image { width: 100%; height: 100%; margin: 0; padding: 0; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

footer div { padding: 5px; color: #888; text-align: center; }

.strapfiller { max-width: 100%; overflow: hidden; }

.strapfiller .content-banner p { margin: 0 0 10px; border: 1px solid transparent; }

.no-banner .bgStretcher { height: 168px; }

.no-banner .strap { height: 40px; background-image: none; }

.no-banner .strap * { display: none; }

.banner { position: relative; height: 128px; margin: 0; background: #fff; }

.logo h1 { margin: 0; }

.logo h1 a { display: block; width: 176px; height: 88px; background: #fff url("../imgs/logo.png"); background-size: 176px 88px; text-indent: -900000em; overflow: hidden; }

.security { position: absolute; top: 15px; right: 20px; }

.rightnav { margin-right: 20px; }

footer.footer { clear: both; border-top: 1px solid #333; background: #000; }

.breaker { clear: both; }

img.left { margin-right: 20px; float: left; }

img.right { margin-left: 20px; float: right; }

.masonry-block { margin-bottom: 20px; }

.feature { padding: 1%; border: #888; background: #404040; }

.feature img { max-width: 100%; height: auto; }

.feature.wide { width: auto; margin-right: 0; float: left; }

.spacer { height: 20px; }

.dropdown-backdrop { position: static; }

#container .calendar-widget-table tbody td { width: 13%; min-width: 24px; color: #888; font-size: 0.9em; }

#container .calendar-widget-table tbody td:last-child { width: 9%; min-width: 5px; }

#container .calendar-widget-table tbody .hasEvent { background-position: 5px center; }

form fieldset div.field { margin: 0 0 1em; }

form label.required { padding-left: 16px; background: transparent url("../imgs/error_up.png") 0 50% no-repeat; background-size: 12px 6px; color: #f00; font-weight: normal; }

.ss-uploadfield-item-info label { color: #000; font-weight: normal; }

.ss-uploadfield-item { color: #000; font-weight: normal; }

.ss-uploadfield .ss-uploadfield-item .ss-uploadfield-item-preview { color: #000; font-weight: normal; }

.ss-uploadfield-item-name small { display: none; }

.weeks { padding-top: 130px; padding-right: 10%; padding-left: 5%; border-radius: 15px; background: url("../imgs/77-Days-of-Prayer.jpg") top left no-repeat; background-size: 100% auto; color: #333; font-size: 220%; }

@media (min-width: 768px) and (max-width: 979px) { .navbar-default .navbar-nav > li > a { font-size: 0.9em; }
  .weeks { font-size: 150%; } }

@media (max-width: 480px) { .fauxbody { margin: 0; padding: 0; -webkit-box-shadow: none; box-shadow: none; overflow: hidden; }
  .banner div.bgStretcher { height: 10px; background-color: transparent; }
  .logo { margin-top: 10px; }
  .search { right: 5px; }
  .feature { width: auto; margin: 5px; float: none; -webkit-box-sizing: content-box; box-sizing: content-box; }
  .rightnav { margin-right: 0; }
  .container > div { padding: 5px; }
  .strap.row-fluid { height: auto; margin: 0; padding: 0; background: none; }
  .row-fluid { -webkit-box-sizing: border-box; box-sizing: border-box; }
  img { max-width: 100%; height: auto; }
  .strapfiller { margin: 0; padding: 0; }
  .strapfiller p { margin: 0; padding: 0; }
  .strapfiller img { margin: 0; padding: 0; }
  .strap { margin: 0; padding: 0; }
  footer { margin: 0; padding: 0; }
  header.banner { margin: 0; padding: 0; }
  input.span2.search-query { width: 80px; }
  .row { margin-right: 0; margin-left: 0; }
  .weeks { padding: 0.2em; background: transparent; color: #efefef; font-size: 100%; }
  .weeks::before { content: "77 Days of Prayer: "; } }

@media (max-width: 600px) { .weeks { padding-top: 80px; font-size: 110%; } }

/*************************************************************************************************************** Dear Dev Pros, Only add non-renderable SASS in this file (no CSS selectors), otherwise any CSS will be rendered into any file that includes this one (spoiler alert: most files include this file) */
/*# sourceMappingURL=main.css.map */