@import 'variables';
@import 'mixins';
@import 'fonts';

@import '../bower_components/bootstrap/scss/functions';
@import '../bower_components/bootstrap/scss/variables';
@import '../bower_components/bootstrap/scss/mixins';


// This setups up utility classes for a preset list of variables that you want it for
@each $key, $value in $color-utilities {
    .color-#{$key} {
        color: $value !important; // sass-lint:disable-line no-important
    }

    .color-#{$key}-hover {
        &:hover {
            color: $value !important; // sass-lint:disable-line no-important
        }
    }

    .border-color-#{$key} {
        border-color: $value !important; // sass-lint:disable-line no-important
    }

    .background-#{$key} {
        background: $value !important; // sass-lint:disable-line no-important
    }

    .background-#{$key}-10 {
        background: rgba($value, 0.1) !important; // sass-lint:disable-line no-important no-color-literals
    }

    .background-#{$key}-hover {
        &:hover {
            background: $value !important; // sass-lint:disable-line no-important
        }
    }
}
